
body {
	width: 98%;
	max-width: 1000px;
	margin: 0 auto;
}

#premier, #second, #troisieme {
	padding-left: 5px;
}

#premier {
	background-color: #3498db;
}

#second {
	background-color: #ecf0f1;
}

#troisieme {
	background-color: #c0392b;
}

#troisieme img {
	width: 100%;
	max-width: 310px;
	float: right;
	border-radius: 0px 0px 00px 150px;
}

/****** Formulaire ******/


form label	{

		color: #069;
		display: block;
		padding-top: 15px;
		padding-bottom: 5px;		

}

form select, form option, form input, form textarea	{

		display: inline-block;
		color: #000000;
		padding: 5px;
		border: 1px #51c3fa solid;
		width: 400px;

}

.erreur	{

	border: 1px #E80000 solid;

}


form select	{

		width: 98%;
		max-width: 424px;

}

form input	{

		width: 95%;
		max-width: 412px;

}

form .nom  input {

		width: 45%;
		max-width: 198px;

}

form textarea	{

		height: 100px;
		width: 95%;
		max-width: 412px;

}

form .bouton input	{

		background: linear-gradient(to bottom right, #51c3fa, #09c);
		width: 100%;
		max-width: 412px;
		margin-top: 20px;

}

	form .bouton input:hover	{

			background: #09c;


	}